apiVersion: apps/v1
kind: Deployment
metadata:
  name: wanderlust-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend-container
        image: hamza5245/wanderlust_frontend:28
        ports:
        - containerPort: 80
        env:
        - name: VITE_API_PATH
          value: "http://175.168.1.62:8002"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 8088
      nodePort: 30001 # Minikube IP:30001 par frontend chalega
